@charset "utf-8";

body {
background-color: #39BBCE;
}

table {

color: black;
background-color: 0FD4F1;

}

/*
th {

color: black;
background-color: white;

}



h1 {
color: white;
background-color: white;
}

h5 {
color: white;
background-color: white;
}

p {
color: white;
background-color: white;
}







*/